@{
    ViewBag.Title = "FilePartial";
}

<h2>FilePartial</h2>

<div class="col-md-12">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            @{
                var base64 = Convert.ToBase64String(item.Content);
                var file = string.Format("data:application/pdf;base64,{0}", base64);
            }
            <embed width="600" height="800" src="@file " />
        </div>
    }
</div>