<div class="col-sm-12">
    <ul id="window">
        @foreach(var item in Model)
        {
            <li>
                @{ 
                    var base64 = Convert.ToBase64String(item.Content);
                    var file = string.Format("data:application/pdf;base64,{0}", base64);
                }
                <embed src="@file"/>
            </li>
        }
    </ul>
</div>


