@model Comparator.Models.PDFfile

@{
    ViewBag.Title = "Create";
}

<h2>Creating</h2>
<style type="text/css">
    #centerLayer {
        text-align: center;
    }

    h2 {
        text-align: center;
    }
    
</style>
@using (Html.BeginForm("Create", "PDF", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset id="centerLayer">
        <div class="editor-label">
            Upload PDF File
        </div>
        <div id="editor">
            <div >
                <input type="url" name="upload" />
            </div>
        </div>  
        <div>
            <input type="submit" value="Save" />
        </div>
        <div>
            @Html.ActionLink("Go Back", "Index", "PDF")
        </div>
    </fieldset>
}