@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<style type="text/css">
    table {
        margin-left: 42.5%;
    }

    div {
        text-align: center;
    }
</style>
@using (Html.BeginForm("Delete", "PDF", FormMethod.Post))
{
    <table style="background-color:azure" border="1">
        <thead style="background-color:gray">
            <tr>
                <th>Select</th>
                <th>file</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="PDFId" id="PDFId" value="@item.PDFID" />
                    </td>
                    <td>@item.PDFID</td>
                    <td>@item.FileName</td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Delete Selected Files" />
    <p> @Html.ActionLink("Go Back", "Index", "PDF")</p>
}