@{
    ViewBag.Title = "FilePartial";
}
<style type="text/css">
    div {
        text-align: center;
    }
</style>
@using (Html.BeginForm("FilePartial", "PDF", FormMethod.Post))
{
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                @{
                    var base64 = Convert.ToBase64String(item.Content);
                    var file = string.Format("data:application/pdf;base64,{0}", base64);
                }
                <embed width="600" height="800" src="@file " />
            </div>
        }
    </div>
    <input type="submit" value="View differencies" />
}
@Html.ActionLink("Go Back To List", "Show", "PDF")