
@{
    ViewBag.Title = "Index";
}

<h2>View Pdf</h2>
<style type="text/css">
    #centerLayer {
        text-align:center;
    }
    h2 {
        text-align: center;
    }
</style>
<div id="centerLayer">
    @Html.ActionLink("Add PDFfile", "Create", "PDF", new { id = "linkAddImage" }, null) |
    @Html.ActionLink("Delete PDFfile", "Delete", "PDF", new { id = "linkAddImage" }, null) |
    @Html.ActionLink("Show PDF files", "Show", "PDF", new { id = "linkAddImage"}, null) 
</div>
